* {
  box-sizing: border-box;
}
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

button[data-start],
button[data-stop] {
padding: 10px 15px;
font-size: 26px;
border-radius: 7px;
}

.calendar{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 35px;
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-family: inherit;
  font-size: 16px;
}

.btnStart{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-color: deeppink;
  color: deeppink;
  margin-bottom: 30px;
}

.timer{
  display: flex;
  justify-content: center;
  gap: 35px;
  font-size: 15px;
}

.value{
  display: block;
  font-size: 40px;
  background-color: deeppink;
}

.field{
  text-align: center;
  border: 1px solid deeppink;
  border-radius: 5px;
  width: 70px;
}

.main_img{
  margin-left: auto;
  margin-right: auto;
}

.description{
 text-align: center;
 font-size: 35px;
 margin-bottom: 30px;
}

